<div class="rf-col-xl-6 rf-col-lg-6 rf-col-md-6 rf-col-sm-12 rf-col-xs-12">
  <h3>matchID</h3>
    <p>
    Fin 2016, la présidence de la République engageait un nouveau programme, <strong>
    <a titile="entrepreneur d'intérêt général" href="https://entrepreneur-interet-general.etalab.gouv.fr/">Entrepreneur d'Intérêt Général</a></strong>, dont la première session eu lieu entre janvier et octobre 2017.
    </p>
    <p>
    Martin fut sélectionné pour le challenge du ministère de l'Intérieur, sous le mentorat de Daniel ANSELLEM, de Fabien ANTOINE.
    </p>
    <p>
    Le challenge: retirer les personnes décédées (<strong> 25 millions</strong>) au permis de conduire (<strong>52 millions d'identité</strong>), pour de respect du droit à l'oubli (RGPD), la fiabilisation des statistiques, et l'évaluation de fraudes éventuelles.
    </p>
    <p>
    Fabien et Martin se sont rencontrés alors, et se sont décidés pour lancer le projet open-source matchID. Bien sûr, le challenge a été remporté !
    </p>
</div>

<div class="rf-col-xl-6 rf-col-lg-6 rf-col-md-6 rf-col-sm-12 rf-col-xs-12">
  <div class="rf-vcenter rf-responsive-vid" style="min-width:328px;min-height:184px;" width="100%">
    <iframe class="rf-responsive-vid__player" style="min-width:328px;min-height:184px;" frameborder=0
        src="https://www.dailymotion.com/embed/video/x7okqx1"
        allowfullscreen
        allow="autoplay; fullscreen">
    </iframe>
  </div>
</div>

<div class="rf-col-12">
<div class="rf-container-fluid">
<div class="rf-grid-row rf-grid-row--gutters-h" style="flex-direction: row-reverse;">

<div class="rf-col-xl-6 rf-col-lg-6 rf-col-md-6 rf-col-sm-12 rf-col-xs-12">
    <h3><a href="https://deces.matchid.io" title="moteur de recherche des décès">deces.matchid.io</a></h3>
    <p>
    Fin 2019, l'INSEE a ouvert le <a href="https://www.data.gouv.fr/fr/datasets/fichier-des-personnes-decedees/" title="fichier des décès"> fichier des décès </a> ayant favorisé la création de matchID. Pour étendre l'usage de ces données.
    </p>
    <p>
    Fabien a lancé <a href="https://deces.matchid.io" title="moteur de recherche des décès">deces.matchid.io</a> au premier janvier 2020, inspiré d'une démonstration que Martin avait initié pendant le challenge.
    </p>
    <p>
    Depuis, Cristian PEREZ BROKATE, phD et EIG de la troisième session, et ayant produit <a href="https://iaflash.fr">IA-Flash</a> a pris une part pleine au projet, en initiant l'<strong><a href="https://deces.matchid.io/deces/api/v1/docs/" title="API des décès">API des décès</a></strong>.
    </p>
    <p>
    Le produit est utilisé par plus de 2000 généalogistes chaque jour, et des professionnels de la santé pour fiabiliser leurs fichiers clients.
    </p>
</div>

<div class="rf-col-xl-6 rf-col-lg-6 rf-col-md-6 rf-col-sm-12 rf-col-xs-12">
  <div class="rf-vcenter" style="overflow:hidden">
    <iframe frameborder="0" width="100%" height="520px"
        scrolling="no" style="margin-top: -200px;"
        src="https://deces.matchid.io/search?q=Pompidou%20Georges"
    >
    </iframe>
  </div>
</div>

</div>
</div>
</div>