<div class="fr-col-xl-2 fr-col-lg-1 fr-col-md-12 fr-col-sm-12 fr-col-xs-12"></div>
<div class="fr-col-xl-8 fr-col-lg-10 fr-col-md-12 fr-col-sm-12 fr-col-xs-12">
    <h3> Appariement sur deces.matchid.io, explications </h3>
    <div class="fr-callout">
        <p>
            L'appariement requiert de trois étapes:
        </p>
        <ol class="fr-ml-4w">
            <li> l'indexation des données de décès dans l'API</li>
            <li> la recherche de chaque identité du CSV auprès de l'index</li>
            <li> le <i>scoring</i> de confiance de chaque identité retrouvée </li>
        </ol>
        <p>
            Seules les deux dernières étapes sont réalisées au moment de l'utilisation de l'API <code>search/csv</code>
        </p>
    </div>
</div>
<div class="fr-col-xl-2 fr-col-lg-1 fr-col-md-12 fr-col-sm-12 fr-col-xs-12"></div>
<div class="fr-col-xl-6 fr-col-lg-6 fr-col-md-6 fr-col-sm-12 fr-col-xs-12">
    <h4> Recherche des identités </h4>
    <p>
        La requête est composée d'un bloc de critères obligatoires (<i>blocking</i>), les autres éléments de la requête étant optionnels. Les critères obligatoires sont ceux-ci:
        <ul>
            <li>
                "nom prénom" = "nom prénoms" INSEE <br>
                <small>modulo normalisation et tokenization : "olivier martin" = "martin olivier" =~ "jean olivier martin". <br>
                Ce match tolère le flou : "oliver martin" = "olivier martin"</small>
            </li>
            <li>
                si une date de naissance est une plage (e.g 01/01/1930-01/01/1940), elle devient obligatoire
            </li>
            <li>
                si une date <code>lastSeenAliveDate</code> est spécifiée, elle devient obligatoire
            </li>
        </ul>
    </p>
    <p class="fr-highlight"><small>
        Note 1: si l'un des champs nom ou prénom manquent, tous les champs disponibles deviennent obligatoires, avec une tolérance floue.
        <br>
        Note 2: les données INSEE utilisent le nom de naissance. Le nom d'usage génère du silence (manqués), notamment sur la popuation des femme mariées.
        <br>
        Note 3: le code source des requêtes est <a href="https://github.com/matchID-project/deces-backend/blob/dev/backend/src/buildRequest.ts" title="code source de la recherche" target="_blank">sur GitHub</a>.
        </small>
    </p>
</div>
<div class="fr-col-xl-6 fr-col-lg-6 fr-col-md-6 fr-col-sm-12 fr-col-xs-12">
    <h4> Scoring </h4>
    <p>
        Le scoring est composé de trois composantes relatives aux données de l'identité pivot: nom & prénom, sexe, date et lieu de naissance.
    </p>
    <p>
        Les champs textuels (nom prénom, libellés de commune et pays) sont traités en normalisation et tokenization, puis comparés avec la distance de Levenshtein, et sont pénalisés en cas de différence de sonorité (soundex-fr).
    </p>
    <p>
        Le lieu de naissance prend en compte les trois paramètres éventuels (commune, département, pays) et effectue un traitement différencié en cas de naissance à l'étranger.
    </p>
    <p>
        Les scores (nom+prénom, sexe, date, lieu) sont ensuite multipliés, et un coefficient de puissance est affecté selon le nombre de paramètres de match (moins il y a de champs soumis à requête, plus une erreur unitaire est pénalisante). Lorsque l'une des données n'est pas fournie, une faible pénalité est soumise (entre 50% et 100% selon le champ).
    </p>
    <p>
        Le code source du scoring est également <a href="https://github.com/matchID-project/deces-backend/blob/dev/backend/src/score.ts" title="code source de la recherche" target="_blank">sur GitHub</a>.
    </p>
</div>