<div class="container">
    COOL
  <!-- <nav class="navbar">
    <div class="navbar-brand">
      <a href="{{ "/" | prepend: site.baseurl }}" class="navbar-item">
          {{ site.name }}
      </a>
      <a href="https://github.com/{{ site.project.backend.repo }}" class="navbar-item is-hidden-desktop">
          <span class="icon">
              <i class="fa fa-github"></i>
          </span> {{ site.project.backend.name }}
      </a>
      <a href="https://github.com/{{ site.project.frontend.repo }}" class="navbar-item is-hidden-desktop">
          <span class="icon">
              <i class="fa fa-github"></i>
          </span> {{ site.project.frontend.name }}
      </a>
      <div class="navbar-burger burger" data-target="navMenubd-main">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenubd-main" class="navbar-menu">
      <div class="navbar-start">

      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button"
                data-social-network="Twitter"
                data-social-action="tweet"
                data-social-target="https://twitter.com/tainmar"
                target="_blank"
                href="https://twitter.com/intent/tweet?text=matchID for matching dirty data based on people's identities&hashtags=matchid&url={{prepend: site.baseurl | prepend: site.url}}&via={{tainmar}}">
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <span>
                  Tweet
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="{{ site.project.backend.download }}">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>Download {{ site.project.backend.name }}</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="{{ site.project.frontend.download }}">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>Download {{ site.project.frontend.name }}</span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="{{ site.project.examples.download }}">
                <span class="icon">
                  <i class="fa fa-download"></i>
                </span>
                <span>Download {{ site.project.examples.name }}</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </nav> -->
</div>
