<nav class="navbar is-fixed-top is-transparent">
  <div class="container">
    <div class="navbar-brand">
      <a href="{{ "/" | prepend: site.baseurl }}" class="logo">
          <img src="/assets/images/matchID-logo.svg" alt="matchID Logo">
      </a>
      <div class="navbar-burger burger" data-target="navMenubd-main">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenubd-main" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="about">
            <span class="icon">
              <i class="far fa-lightbulb"></i>
            </span> About matchID
        </a>
        <div class="navbar-item has-dropdown is-hoverable is-boxed">
          <a class="navbar-link">
            <span class="icon">
              <i class="fas fa-chart-line"></i>
            </span> DataScientist / Dev resources
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item {% if page.url == '/starting' %}has-text-primary{% endif %}" href="starting">
              <span class="icon">
                <i class="fas fa-play"></i>
              </span>
              <span> Install matchID </span>
            </a>
            <hr class="dropdown-divider"/>
            <a class="navbar-item {% if page.url == '/quick_tutorial' %}has-text-primary{% endif %}" href="quick_tutorial">
               <span class="icon">
                 <i class="fas fa-graduation-cap"></i>
               </span>
               <span> Tutorial - simple identity matching </span>
            </a>            
            <a class="navbar-item {% if page.url == '/advanced_tutorial' %}has-text-primary{% endif %}" href="advanced_tutorial">
               <span class="icon">
                 <i class="fas fa-graduation-cap"></i>
               </span>
               <span> Tutorial - matching &amp; machine learning </span>
            </a>
            
            <hr class="dropdown-divider"/>
            
            <a href="datasets" class="navbar-item {% if page.url == '/datasets' %}has-text-primary{% endif %}">
              <span class="icon">
                <i class="fas fa-table" aria-hidden="true"></i>
              </span> Allowed Datasets
            </a>
            <a href="https://github.com/matchID-project/examples/tree/master/data" class="navbar-item">
              <span class="icon">
                <i class="fas fa-table" aria-hidden="true"></i>
              </span> Datasets Examples
            </a>
            <a href="recipes" class="navbar-item {% if page.url == '/recipes' %}has-text-primary{% endif %}">
              <span class="icon">
                <i class="fas fa-flask" aria-hidden="true"></i>
              </span> Recipes: pre-built functions
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable is-boxed">
          <a class="navbar-link">
            <span class="icon">
              <i class="fas fa-archive"></i>
            </span> DevOps resources
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item {% if page.url == '/automation' %}has-text-primary{% endif %}" href="automation">
              <span class="icon">
                <i class="fab fa-docker"></i>
              </span>
              <span> Understand the architecture </span>
            </a>
            <a href="api" class="navbar-item {% if page.url == '/api' %}has-text-primary{% endif %}">
              <span class="icon">
                <i class="fab fa-usb" aria-hidden="true"></i>
              </span> API endpoints
            </a>
            <a href="dev" class="navbar-item {% if page.url == '/dev' %}has-text-primary{% endif %}">
              <span class="icon">
                <i class="fab fa-github" aria-hidden="true"></i>
              </span> Contribute
            </a>
          </div>
        </div>
      </div>




      <div class="navbar-end">
        <div class="navbar-item">
          <a class="button is-info"
            href="https://gitter.im/matchID-dev/Lobby">
            <span class="icon">
              <i class="fab fa-gitter"></i>
            </span>
            <span>Gitter</span>
          </a>
        </div>
        <div class="navbar-item has-dropdown is-hoverable is-boxed">
          <a class="navbar-link" target="_blank" href="{{ site.project.general.repo | prepend: site.github_url }}">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span> GitHub
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" href="{{ site.project.backend.repo | prepend: site.github_url }}">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>{{ site.project.backend.name }}</span>
            </a>
            <a class="navbar-item" target="_blank" href="{{ site.project.frontend.repo | prepend: site.github_url }}">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>{{ site.project.frontend.name }}</span>
            </a>
            <a class="navbar-item" target="_blank" href="{{ site.project.examples.repo | prepend: site.github_url }}">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>{{ site.project.examples.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
