<header class="rf-header">
  <div class="rf-container rf-container__header">
    <div class="rf-header__body">
      <div class="rf-header__brand">
        <a
          href="/"
          class="rf-logo"
          title="République Française"
        >
          <span class="rf-logo__title">
              République<br>
              Française
          </span>
        </a>
      </div>
      <img
        src="/assets/images/favicon.svg"
        alt="matchID Logo"
        height="64px"
        width="64px"
      />
      <div class="rf-header__navbar">
          <div class="rf-service">
              <span class="rf-service__title" title="matchID - moteur de recherche des personnes décédées">
                  matchID
              </span>
              <p class="rf-service__tagline">
                  Traitements et appariements d'identités jusqu'à <strong>100 millions</strong> d'enregistrements
              </p>
          </div>
      </div>
    </div>
  </div>
  <div class="rf-container rf-container__header">
    <!-- Menu déroulant sur le premier élément -->
    <nav class="rf-nav" role="navigation" aria-label="Menu principal">
      <ul class="rf-nav__list">
        <li class="rf-nav__item">
          <button class="rf-btn" aria-expanded="false" aria-controls="rf-nav-item-2">Produits</button>
          <div class="rf-menu" id="rf-nav-item-2">
            <ul class="rf-menu__list">
              <li class="rf-menu__item">
                <strong> matchID </strong>
              </li>
              <li class="rf-menu__item">
                <a class="rf-link" href="slides/#/3/8" target="_self">
                  Développer des algorithmes d'appariement
                </a>
              </li>
              <li class="rf-menu__item">
                <a class="rf-link" href="slides/#/3/5" target="_self">
                  Evaluer les algorithmes
                </a>
              </li>
              <li class="rf-menu__item">
                <a class="rf-link" href="/automation" target="_self">
                  Automatiser les traitements
                </a>
              </li>
              <li class="rf-menu__item">
                <strong> deces.matchid.io </strong>
              </li>
              <li class="rf-menu__item">
                <a class="rf-link" href="https://deces.matchid.io/search" target="_self">
                  Moteur de recherche des décès
                </a>
              </li>
              <li class="rf-menu__item">
                <a class="rf-link" href="https://deces.matchid.io/link" target="_self">
                  Identifier les décès dans un fichier
                </a>
              </li>
              <li class="rf-menu__item">
                <a class="rf-link" href="https://deces.matchid.io/deces/api/v1/docs" target="_self">
                  Automatisation via l'API décès
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="rf-nav__item">
          <button class="rf-btn" aria-expanded="false" aria-controls="rf-nav-item-1">Cas d'usage</button>
          <div class="rf-menu" id="rf-nav-item-1">
            <ul class="rf-menu__list">
              <li class="rf-menu__item">
                <a class="rf-link" href="#" target="_self">
                  Fraude à l'identité
                </a>
              </li>
              <li class="rf-menu__item">
                <a class="rf-link" href="#" target="_self">
                  Fiabilisation statistique
                </a>
              </li>
              <li class="rf-menu__item">
                <a class="rf-link" href="#" target="_self">
                  Mise en qualité d'identités
                </a>
              </li>
              <li class="rf-menu__item">
                <a class="rf-link" href="#" target="_self">
                  Moteur de recherche d'identités
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="rf-nav__item">
          <button class="rf-btn" aria-expanded="false" aria-controls="rf-nav-item-3">Comprendre</button>
          <div class="rf-menu" id="rf-nav-item-3">
              <ul class="rf-menu__list">
                  <li class="rf-menu__item">
                    <a class="rf-link" href="/slides/#/1" target="_self">
                      Données d'identités
                    </a>
                  </li>
                  <li class="rf-menu__item">
                    <a class="rf-link" href="/slides/#/3/11" target="_self">
                      Les algorithmes
                    </a>
                  </li>
                  <li class="rf-menu__item">
                    <a class="rf-link" href="https://matchid.io/slides/#/2/1" target="_self">
                      Cadrer un traitement métier
                    </a>
                  </li>
              </ul>
          </div>
        </li>
        <li class="rf-nav__item">
          <button class="rf-btn" aria-expanded="false" aria-controls="rf-nav-item-4">Pour développer</button>
          <div class="rf-menu" id="rf-nav-item-4">
              <ul class="rf-menu__list">
                <li class="rf-menu__item">
                  <strong> matchID </strong>
                </li>
                <li class="rf-menu__item">
                  <a class="rf-link" href="/starting" target="_self">
                    Débuter
                  </a>
                </li>
                <li class="rf-menu__item">
                  <a class="rf-link" href="/quick_tutorial" target="_self">
                    Appariement simple
                  </a>
                </li>
                <li class="rf-menu__item">
                  <a class="rf-link" href="/advanced_tutorial" target="_self">
                    Appariement complexe, avec machine learning
                  </a>
                </li>
                <li class="rf-menu__item">
                  <a class="rf-link" href="/recipes" target="_self">
                    Documentation des recettes
                  </a>
                </li>
                <li class="rf-menu__item">
                  <a class="rf-link" href="/datasets" target="_self">
                    Documentation des datasets
                  </a>
                </li>
                <li class="rf-menu__item">
                  <strong> deces.matchid.io </strong>
                </li>
                <li class="rf-menu__item">
                  <a class="rf-link" href="#" target="_self">
                    Intégrer l'API décès
                  </a>
                </li>
                <li class="rf-menu__item">
                  <a class="rf-link" href="#" target="_self">
                    Déployer on-premise
                  </a>
                </li>
              </ul>
          </div>
        </li>
        <li class="rf-nav__item">
          <a class="rf-link" href="/about" target="_self">À propos</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
