---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <link rel="icon" href="{{ "/assets/images/favicon.png" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

        <link rel="stylesheet" href="/assets/css/app.css" />
    </head>

    <body>


        {{ content }}

        <script src="./assets/javascript/main.js"></script>
        <script src="{{ "/assets/javascript/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>

        <script>
            $('.nav-toggle').bind('click', function(){
                var menus = $(this).siblings(".nav-menu");
                if(menus.hasClass('is-active')){
                    menus.removeClass('is-active');
                } else {
                    menus.addClass('is-active');
                }
            });
        </script>
    </body>
</html>
