---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
          {% seo title=false %}
          {% feed_meta %}
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description}}{% endif %}">
        <link rel="icon" href="/assets/images/matchID-logo-square.svg">
        <meta name="theme-color" content="#ffffff">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

        <!-- <link rel="stylesheet" href="/assets/css/app.css" /> -->
        <link rel="stylesheet" href="/assets/css/all.min.css" />
        <link rel="stylesheet" href="/assets/css/global.css" />
        <link rel="preload" href="/assets/fonts/Marianne-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/assets/fonts/Marianne-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
      </head>

    <body>
        {% include navbar.html %}

        <div class="rf-container-fluid">
          <div class="rf-grid-row">
            <div class="rf-col-12 rf-background--bf rf-hide--desktop rf-pr-2w rf-pt-2w rf-pl-2w">
              <h2 class="rf-card__lead rf-color--white">
                {{ page.title }}
              </h2>
              <p class="rf-card__desc rf-color--white">
                {{ page.description }}
              </p>
            </div>
          </div>
        </div>

        <div class="rf-container">
          <div class="rf-grid-row">
            <div class="rf-col-12 rf-background--bf rf-hide--mobile" style="min-height:17rem;">
              <div style="z-index:0;" class="rf-card rf-card--horizontal rf-card--horizontal-right rf-background--bf rf-card--no-arrow">
                {% if page.image %}
                  {% if page.imagePosition %}
                    <div class="position:relative">
                      <img
                        width="50%"
                        style="position:absolute;right:0;bottom:0;max-height:100%;transform: translate({% if page.imageTX %}{{page.imageTX}}{% else %} 0px{% endif %},
                        {% if page.imageTY %}{{page.imageTY}}){%else%}0px){% endif %}
                        {% if page.imageScale %}scale({{page.imageScale}}){% endif %}
                        {% if page.image_flip %}scaleX(-1){% endif %};"
                        src="{{page.image}}"
                      >
                    </div>
                    <div class="rf-card__img"></div>
                  {% else %}
                    <div class="rf-card__img rf-card__img--fit {% if page.image_flip %} rf-img__flip {% endif %}">
                      <img
                        src="{{page.image}}"
                        style="z-index: 1;transform: translate({% if page.imageTX %}{{page.imageTX}}{% else %} 0px{% endif %},
                                {% if page.imageTY %}{{page.imageTY}}){%else%}0px){% endif %}
                                {% if page.imageScale %}scale({{page.imageScale}}){% endif %};"
                        />
                    </div>
                  {% endif %}
                {% endif %}
                <div style="z-index: 20;" class="rf-card__body rf-mt-3w rf-mb-3w rf-ml-3w">
                  <h1 class="rf-card__lead rf-color--white">
                    {{ page.title }}
                  </h1>
                  <h4 class="rf-card__desc rf-color--white">
                    {{ page.description }}
                  </h4>
                </div>
              </div>
            </div>
            <div class="rf-col-xl-1 rf-col-md-0"></div>
            <div class="rf-col-xl-10 rf-col-md-12">
              <div class="rf-container-fluid rf-mt-2w rf-mb-4w">
                <div class="rf-grid-row rf-grid-row--gutters-h " style="{% if page.customLayout %}{% else %}display:unset;{% endif %}">
                  {{ content }}
                  {% if page.video %}
                  <iframe style="transform:translateX(50%)" width="420" height="315" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="rf-col-xl-1 rf-col-md-0"></div>
          </div>
        </div>


        {% include footer.html %}
        <script src='/assets/js/all.min.js'></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    </body>
</html>
