---
# this is an empty front matter
---
<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description}}{% endif %}">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/images/favicons/manifest.json">
        <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
        <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

        <link rel="stylesheet" href="/assets/css/app.css" />
    </head>

    <body>
        {% include navbar.html %}

        <section class="hero is-primary is-medium is-bold">
          <div class="hero-body">
            <div class="container has-text-centered">
              <h1 class="title">
                {{ page.title }}
              </h1>
              <h2 class="subtitle">
                {{ page.description }}
              </h2>
            </div>
          </div>
        </section>

        <div class="container">
          <div class="content margin-content">
            <div class="columns is-centered">
              <div class="column {{ page.width }}">
                {{ content }}
              </div>
            </div>
          </div>
        </div>


        {% include footer.html %}

        <script src="/assets/javascript/main.js"></script>
        <script src="/assets/javascript/jquery-3.1.1.min.js"></script>

        <script>
            $('.nav-toggle').bind('click', function(){
                var menus = $(this).siblings(".nav-menu");
                if(menus.hasClass('is-active')){
                    menus.removeClass('is-active');
                } else {
                    menus.addClass('is-active');
                }
            });
        </script>
    </body>
</html>
